h1 {
  font-family: 'Anton', sans-serif;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  margin: 0;
}

h3, p {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h3 {
  margin-bottom: 5px;
}

.warning {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  height: 100%;
  width:100%;
}

.warning h3 {
  margin-top: 140px;
}

.Card {
  position: relative;
  margin: 0 auto 20px auto;
  width: 300px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border: 2px solid #cccccc;
}

.favorite-img {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  background-image: url('../../images/favorite.svg');
}

.favorite-img:hover {
  background-image: url('../../images/favorite-hover.svg');
  cursor: pointer;
}

.information {
  box-sizing: border-box;
  width: 300px;
  padding: 7px;
}

.poster {
  width: 297px; 
}

@media screen and (min-width: 545px) {
  .Card {
    display: flex;
    width: 490px;
    height: 350px;
  }

  .information {
    height: 329px;
    overflow-y: scroll;
  }

  .poster {
    width: 250px;
  }
}