a {
  text-decoration: none;
}

a h1 {
  font-family: 'Anton', sans-serif;
  padding-left: 10px;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  color: black;

  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.logo {
  display: inline-block;
  padding: 0 0 17px 0;
  width: 50px;
}

.title {
  color: #FFFFFF;
}

.title-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 15px;
  width: 250px;
  margin: 0;
  background-color: #262626;
}

.user-sign-up {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 210px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-sign-up a {
  color: white;
  text-decoration: none;
}

.user-signed-in {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 90px;
  color: white;
}

.user-signed-in h2 {
  font-size: 22px;
  font-family: 'Lato', sans-serif;
}

#menu {
  display: none;
}

.submit-button {
  border: none;
}

.user-link {
  color: white;
  text-decoration: none;
}

header {
  background-color: #262626;
}

#bullet-pt {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
}

#menu {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 25px;
}

@media screen and (max-width: 480px) {
  .user-sign-up,
  .user-signed-in,
  .user-signed-in h2 {
    display: none;
  }

  #bullet-pt {
    display: none;
  }

  #menu {
    display: block;
    font-size: 30px;
    color: white;
  }

  .menu-mobile {
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
    width: 50px;
    height: 100px;
  }

  .menu-mobile:hover {
    cursor: pointer;
  }

  .menu-mobile:hover .user-sign-up,
  .menu-mobile:focus .user-sign-up,  
  .menu-mobile:hover .user-signed-in,
  .menu-mobile:focus .user-signed-in {
    position: absolute;
    top: 49px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 67px;
    background-color: #ffffff30;
    cursor: pointer;
  }

  .user-link {
    font-size: 13px;
  }
}